# Laravel
/vendor
/node_modules
# /public/storage
/storage/*.key
/storage/debugbar
# /storage/certs

# Environment files
.env
.env.*s
!.env.example

# Logs
/storage/logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache & compiled files
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# PHP
*.php~
.phpunit.result.cache

# Composer
/composer.phar

# IDE / Editor files
/.idea
/.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Build files
/public/hot
/public/mix-manifest.json
/public/build

# Tests
/.phpunit.cache
